<script>
  import page from 'page'

  import { url, context, history } from './store'

  import Sidebar from './components/sidebar.svelte'
  import NewMessagePage from './pages/new_message_page.svelte'
  import MessagesPage from './pages/messages_page.svelte'
  import MessagePage from './pages/message_page.svelte'
  import ReplyPage from './pages/reply_page.svelte'
  import SettingsPage from './pages/settings_page.svelte'

  const basePath = '/app_v2'

  url.set(window.location)
  let component = null
  let showSidebar = true

  page.base(basePath)
  page('/', (ctx) => {
    context.set(ctx)
    history.set([ ...$history, ctx.path ])
    component = MessagesPage
    showSidebar = true
  })

  page('/messages/new', (ctx) => {
    context.set(ctx)
    history.set([ ...$history, ctx.path ])
    component = NewMessagePage
    showSidebar = true
  })
  page('/messages/:id', (ctx) => {
    context.set(ctx)
    history.set([ ...$history, ctx.path ])
    component = MessagePage
    showSidebar = true
  })
  page('/messages/:id/reply', (ctx) => {
    context.set(ctx)
    history.set([ ...$history, ctx.path ])
    component = ReplyPage
    showSidebar = false
  })

  page('/settings', (ctx) => {
    context.set(ctx)
    history.set([ ...$history, ctx.path ])
    component = SettingsPage
    showSidebar = true
  })

  page('*', (ctx) => {
    context.set(ctx)
    history.set([ ...$history, ctx.path ])
    component = MessagesPage
    showSidebar = true
  })
  page.start()

  $: page($url)
</script>

<div class="flex">
  {#if showSidebar}
    <aside class="w-64">
      <Sidebar></Sidebar>
    </aside>
  {/if}
  <main class="flex-1">
    <svelte:component
      this={component}>
    </svelte:component>
  </main>
</div>
