<%= form_with url: signin_path, class: 'w-full' do |form | %>
  <div class="mb-3">
    <%= form.label :address,
      'Your Address',
      class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= form.text_field :address,
      class: 'appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight',
      placeholder: 'your-name@outpostr.com or your-name' %>
  </div>

  <div class="mb-6">
    <%= form.label :password, class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= form.password_field :password, class: 'appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight' %>
  </div>

  <div class="text-center">
    <%= form.submit 'Sign In', class: 'bg-red-600 hover:bg-red text-white py-2 px-12 rounded cursor-pointer w-full' %>
  </div>
<% end %>