<div class="container mx-auto h-12 flex items-center py-10">
  <div class="w-full text-center">
    <div class="logo cursor-default text-4xl">Outpostr</div>
  </div>
</div>

<div class="container mx-auto pb-10 text-center">
  <h1 class="text-2xl">Sign in to your account</h1>
</div>

<div class="container mx-auto flex">
  <div class="w-3/4 sm:w-2/4 md:w-2/4 lg:w-1/4 ml-auto mr-auto">
    <%= render "form" %>
  </div>
</div>

<div class="containre mx-auto pt-16 text-center">
  <p class="text-grey-dark pb-1">
    Sorry, we are invite only at the moment.
  </p>
</div>