<div class="block text-gray-700 mb-2" data-controller="notification-setting">
  <%= hidden_field_tag :web_notification,
                       settings.web_notification,
                       'data-target' => 'notification-setting.enabled' %>

  <span class="pr-5">Web browser notifications</span>

  <% if settings.web_notification %>
    <button class="py-1 px-3 bg-red-600 text-white rounded hover:shadow"
            data-action="notification-setting#toggle"
            data-target="notification-setting.button">
      Disable
    </button>
  <% else %>
    <button class="py-1 px-3 bg-green-600 text-white rounded hover:shadow"
            data-action="notification-setting#toggle"
            data-target="notification-setting.button">
      Enable
    </button>
  <% end %>
</div>