<div class="min-h-screen" style="background-color: #FCFBFC">
  <%= render 'app/shared/header' %>

  <div class="container mx-auto flex justify-center py-6">
    <div class="md:w-1/12"></div>
    <div class="w-full md:w-8/12 bg-white p-5 rounded o-shadow">
      <h1 class="text-3xl mb-6">Settings</h1>

        <div class="mb-6">
          <h2 class="text-xl mb-3">Notifications</h1>

          <%= render 'web_notification', settings: @settings %>
        </div>
    </div>
    <div class="hidden md:block w-3/12 pt-12"></div>
  </div>
</div>