<template>
  <div class="editor text-lg">
    <editor-menu-bubble :editor="editor" :keep-in-bounds="keepInBounds" v-slot="{ commands, isActive, menu }">
      <div
        class="bg-gray-800 text-white inline-block px-2 pt-1 rounded absolute z-20"
        :class="{ 'visible': menu.isActive, 'invisible': !menu.isActive }"
        :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
      >
        <button
          class="hover:text-white fill-current"
          :class="{ 'text-white': isActive.bold(), 'text-gray-600': !isActive.bold() }"
          @click="toggleBold"
        >
          <jam-bold/>
        </button>

        <button
          class="hover:text-white fill-current"
          :class="{ 'text-white': isActive.italic(), 'text-gray-600': !isActive.italic() }"
          @click="toggleItalic"
        >
          <jam-italic/>
        </button>

        <button
          class="hover:text-white fill-current"
          :class="{ 'text-white': isActive.underline(), 'text-gray-600': !isActive.underline() }"
          @click="toggleUnderline"
        >
          <jam-underline/>
        </button>

        <button
          class="hover:text-white fill-current"
          :class="{ 'text-white': isActive.strike(), 'text-gray-600': !isActive.strike() }"
          @click="toggleStrike"
        >
          <jam-strikethrough/>
        </button>
      </div>
    </editor-menu-bubble>
    <editor-content class="editor__content" :editor="editor" />
  </div>
</template>

<script>
import { Editor, EditorContent, EditorMenuBubble, EditorFloatingMenu } from 'tiptap'
import {
  Placeholder,
  Bold,
  Italic,
  Underline,
  Strike,
  BulletList,
  OrderedList,
  ListItem,
  Blockquote,
  Link
} from 'tiptap-extensions'

export default {
  components: {
    EditorContent,
    EditorMenuBubble,
    EditorFloatingMenu,
  },
  data() {
    const placeholderOptions = {
      emptyNodeClass: 'is-empty',
      emptyNodeText: 'Write a beautiful email…',
      showOnlyWhenEditable: true,
    }

    const editor = new Editor({
      autoFocus: true,
      extensions: [
        new Bold(),
        new Italic(),
        new Underline(),
        new Strike(),
        new ListItem(),
        new BulletList(),
        new OrderedList(),
        new Blockquote(),
        new Placeholder(placeholderOptions),
        new Link()
      ],
      onUpdate: ({ getHTML }) => {
        let element = document.querySelector('[data-target="editor.content"]')
        if (element) {
          element.value = getHTML()
        } else {
          element = document.querySelector('[name="mail-content"]')
          let event = new CustomEvent('change', {
            detail: { newHTML: getHTML() }
          })

          element.dispatchEvent(event)
        }
      }
    })

    return { keepInBounds: true, sideMenuVisible: false, editor: editor }
  },
  beforeDestroy() {
    this.editor.destroy()
  },

  methods: {
    toggleBold(event) {
      event.preventDefault()
      this.editor.commands.bold()
    },

    toggleItalic(event) {
      event.preventDefault()
      this.editor.commands.italic()
    },

    toggleUnderline(event) {
      event.preventDefault()
      this.editor.commands.underline()
    },

    toggleStrike(event) {
      event.preventDefault()
      this.editor.commands.strike()
    },

    toggleBulletList(event) {
      event.preventDefault()
      this.editor.commands.bullet_list()
      this.sideMenuVisible = false
    },

    toggleOrderedList(event) {
      event.preventDefault()
      this.editor.commands.ordered_list()
      this.sideMenuVisible = false
    },

    toggleQuote(event) {
      event.preventDefault()
      this.editor.commands.blockquote()
      this.sideMenuVisible = false
    },

    showSideMenu(event) {
      event.preventDefault()
      this.sideMenuVisible = true
    },

    hideSideMenu(event) {
      event.preventDefault()
      this.sideMenuVisible = false
    },
  }
}
</script>

<style>
[contenteditable]:focus {
    outline: 0px solid transparent;
}

.editor *.is-empty:nth-child(1)::before {
  content: attr(data-empty-text);
  float: left;
  color: #cbd5e0;
  pointer-events: none;
  height: 0;
}

.editor ul {
  list-style-type: disc;
  list-style-position: inside;
}

.editor ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.editor li p {
  display: inline;
}

.editor blockquote {
  border-left-width: 4px;
  padding: 0.25rem 0.75rem;
  font-style: italic;
  border-color: #e2e8f0;
  background-color: #f7fafc;
  display: inline-block;
}

.editor a {
  color: #63b3ed;
  cursor: pointer;
  text-decoration: underline;
}
</style>
