<div class="mx-screen bg-white o-shadow"
  data-controller="header"
>
  <div class="container mx-auto h-16 flex items-center">
    <div class="w-8/12 md:w-1/12">
      <%= link_to 'Outpostr', app_root_path, class: 'text-lg px-5' %>
    </div>
    <div class="w-7/12 hidden md:flex">
      <%= render 'app/shared/search' %>
    </div>


    <%# Start Right Menu %>
    <div class="w-4/12 hidden text-gray-700 md:flex">
      <div class="w-2/4">
      </div>

      <div class="w-1/4">
        <%= link_to new_app_message_path,
          class: 'cursor-pointer block bg-white h-16 hover:bg-gray-100 flex items-center' do %>
          <div class="w-full text-center">New Mail</div>
        <% end %>
      </div>

      <div class="w-1/4 drop-down">
        <a
          href='#'
          class="cursor-pointer block bg-white h-16 hover:bg-gray-100 flex items-center drop-down"
          data-action="click->header#openDesktopMenu"
        >
          <div class="w-full text-center drop-down">Menu</div>
        </a>

        <div class="hidden absolute bg-white o-shadow rounded-b" style="margin-left: -1.725rem;" data-target="header.desktopMenu">
          <%= link_to app_settings_path,
            class: 'cursor-pointer block bg-white h-12 hover:bg-gray-100 flex items-center px-10' do %>
            <div class="w-full text-center">Settings</div>
          <% end %>

          <%= button_to 'Sign Out', signout_path,
            class: 'cursor-pointer text-center w-full block bg-white h-12 hover:bg-gray-100 px-10',
            form_class: 'w-full hover:bg-gray-100' %>
        </div>
      </div>
    </div>
    <%# End Right Menu %>

    <%# Start Mobile Menu %>
    <div class="w-4/12 flex md:hidden flex-row-reverse px-5">
      <div class="border p-1 rounded cursor-pointer o-shadow" data-action="click->header#openMobileMenu" >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -7 24 24" width="24" height="24" preserveAspectRatio="xMinYMin" class="jam jam-menu"><path d='M1 0h5a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm7 8h5a1 1 0 0 1 0 2H8a1 1 0 1 1 0-2zM1 4h12a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2z' /></svg>
      </div>

      <div class="bg-white hidden w-full h-full top-0 left-0 z-30" data-target="header.mobileMenu">
        <div class="flex flex-col">
          <div class="text-right">
            <div
              class="float-right cursor-pointer p-8"
              data-action="click->header#closeMobileMenu"
            >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="-6 -6 24 24" width="24" height="24" preserveAspectRatio="xMinYMin" class="jam jam-close"><path d='M7.314 5.9l3.535-3.536A1 1 0 1 0 9.435.95L5.899 4.485 2.364.95A1 1 0 1 0 .95 2.364l3.535 3.535L.95 9.435a1 1 0 1 0 1.414 1.414l3.535-3.535 3.536 3.535a1 1 0 1 0 1.414-1.414L7.314 5.899z' /></svg>
            </div>
          </div>

          <div class="py-8 pt-10">
            <%= link_to new_app_message_path,
              class: 'cursor-pointer block text-xl flex items-center' do %>
              <div class="w-full text-center">New Mail</div>
            <% end %>
          </div>

          <div class="py-8">
            <%= link_to app_settings_path,
              class: 'cursor-pointer block text-xl flex items-center' do %>
              <div class="w-full text-center">Settings</div>
            <% end %>
          </div>

          <div class="py-8">
            <%= button_to 'Sign Out', signout_path,
              class: 'cursor-pointer text-center text-xl w-full block bg-white',
              form_class: 'w-full' %>
          </div>
        </div>
      </div>
    </div>
    <%# End Mobile Menu %>
  </div>
</div>