<% if $rollout.active?(:search, Current.user) %>
  <div class="w-full relative">
    <input
      name="query"
      placeholder="type to search"
      class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight bg-gray-100 focus:bg-white"
    />
    <div class="hidden bg-white w-full border-l border-r border-b absolute rounded-b py-2 px-3">
      <ul>
        <li class="pb-2">Test</li>
        <li>Test 2</li>
      </ul>
    </div>
  </div>
<% end %>
