<html>
  <head>
    <style>
      .general {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 1rem;
        line-height: 1.5;
        background: #fff;
        color: #444;
      }

      .wrapper {
        max-width: 760px;
        padding: 10px;
        overflow-wrap: break-word;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: disc;
        list-style-position: inside;
      }

      ol {
        margin: 0;
        padding: 0;
        list-style-type: decimal;
        list-style-position: inside;
      }

      li p {
        display: inline;
        padding: 0;
        margin: 0;
      }

      blockquote {
        border-width: 0;
        border-left-width: 4px;
        border-color: #e2e8f0;
        border-style: solid;

        display: inline-block;
        background-color: #f7fafc;

        padding: 0.25rem 0.75rem;
        margin: 0;

        font-style: italic;
      }

      a {
        color: #63b3ed;
        cursor: pointer;
        text-decoration: underline;
      }

      .footer {
        font-size: 0.75rem;
        color: rgba(0, 0, 0, 0.03);
        padding: 10px 20px;
        text-align: right;
      }

      .footer-link {
        color: rgba(0, 0, 0, 0.03) !important;
        text-decoration: underline;
      }

      .footer-link:hover {
        color: #4299e1 !important;
      }
    </style>
  </head>
  <body class="general">
    <div class="wrapper">
      <%= @body.html_safe %>
    </div>
    <div class="footer">
      Delivered by <%= link_to 'Outpostr', 'https://www.outpostr.com/?utm_source=mail', class: 'footer-link' %>
    </div>
  </body>
</html>