<%= form_with model: @user, url: signup_path, local: true, class: 'w-full' do |form| %>
  <%= hidden_field_tag :invite_token, params[:invite_token] %>

  <div class="mb-3">
    <%= form.label :username,
      'Your Username',
      class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <div class="flex items-center">
      <div class="w-1/2">
        <%= form.text_field :username,
          class: 'appearance-none w-full py-2 px-3 text-gray-700 leading-tight border rounded-l',
          placeholder: 'your name' %>
      </div>
      <div class="w-1/2 border rounded-r py-2 px-3 leading-tight bg-gray-300">@outpostr.com</div>
    </div>
  </div>

  <div class="mb-6">
    <%= form.label :password, class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= form.password_field :password,
      class: 'appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight',
      placeholder: 'Type your password here' %>
  </div>

  <div class="text-center">
    <%= form.submit 'Sign Up', class: 'bg-red-600 hover:bg-red text-white py-2 px-12 rounded cursor-pointer w-full' %>
  </div>
<% end %>