<script>
  import Select from 'svelte-select'
  import rpc from '../rpc'

  export let placeholder = ''
  export let selectedValue = undefined

  let items = [
    { address: 'fab.lucia@gmail.com', name: 'Fabiana' },
  ]

  function loadOptions(filterText) {
    return rpc.contacts.list(filterText).then(response => {
      return response.data.contacts.map(({ name, email }) => {
        let label = name ? `${name} (${email})` : email
        return { address: email, name: label }
      })
    })
  }
</script>

<style>
  .themed {
    --border: none;
  }
</style>

<div class="themed">
  <Select
    loadOptions={loadOptions}
    optionIdentifier="address"
    getSelectionLabel={(option) => option.name || option.address}
    getOptionLabel={(option, filterText) => option.isCreator ? `Create "${filterText}"` : option.name}
    noOptionsMessage="Type email address or name"
    isMulti={true}
    isClearable={false}
    placeholder={placeholder}
    bind:selectedValue>
  </Select>
</div>
