<script>
  import { url, history, context } from '../store'

  function goBack() {
    const lastURL = $history[$history.length - 2]
    let setURL = lastURL == $context.path ? '/' : lastURL

    history.update(value => {
      value.pop()
      return value
    })

    url.set(setURL)
  }
</script>

<div class="w-full p-4 o-bg-gray">
  <div
    class="cursor-pointer flex items-center text-gray-700 fill-current hover:text-black o-smooth"
    on:click={goBack}>
    <div>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 16 16">
        <path d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zM8 1.5c3.59 0 6.5 2.91 6.5 6.5s-2.91 6.5-6.5 6.5-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5z"></path>
        <path d="M10.457 4.957l-1.414-1.414-4.457 4.457 4.457 4.457 1.414-1.414-3.043-3.043z"></path>
      </svg>
    </div>
    <div class="pl-2">Back</div>
  </div>
</div>