<script>
  import { onMount, createEventDispatcher } from 'svelte'
  import AddressSelect from './address_select.svelte'

  import rpc from '../rpc'

  const dispatch = createEventDispatcher()

  // Props
  export let replyMessageID
  export let rcpts = []
  export let ccs = []
  export let bccs = []
  export let subject = ''

  // Variables
  let vueApp = null
  let editor = null
  let mailContent = null
  let showCC = ccs.length == 0 ? false : true
  let showBCC = bccs.length == 0 ? false : true

  let showAutocomplete = false

  // Callbacks
  onMount(() => {
    editor = new Quill('#editor-container', {
      theme: 'bubble',
      placeholder: 'Type a beautify email'
    })
    editor.focus()

    editor.on('text-change', function() {
      mailContent = editor.root.innerHTML
    })
  })

  function sendMessage() {
    let params = {
      body: mailContent,
      subject: subject,
      to: rcpts,
      cc: ccs,
      bcc: bccs
    }
    if (replyMessageID) {
      params.in_reply_to = replyMessageID
    }

    rpc.message.create(params).then(({ ok }) => {
      if (ok) dispatch('sent')
    })
  }
</script>

<div class="w-full flex border-gray-200 border-b">
  <div class="flex-1">
    <input
      type="text"
      name="rcpts"
      placeholder="Untitled mail"
      autocomplete="off"
      class="w-full p-2 outline-none text-xl"
      bind:value={subject}>
  </div>
</div>

<div class="py-6 mb-10">
  <div id="editor-container" class="px-2"></div>
</div>

<div class="w-full flex border-gray-200 border-t">
  <div class="w-16 p-2 px-4 text-right text-gray-600 font-semibold">To</div>
  <div class="flex-1 relative">
    <AddressSelect
      placeholder="Mail recipients"
      bind:selectedValue={rcpts}>
    </AddressSelect>
  </div>
  <div class="w-32 flex flex-row-reverse">
    <div
      class="w-1/2 p-2 text-gray-500 cursor-pointer hover:o-text-red"
      on:click={() => showBCC = true}
      class:hidden={showBCC}>
      Bcc
    </div>
    <div
      class="w-1/2 p-2 text-gray-500 cursor-pointer hover:o-text-red"
      on:click={() => showCC = true}
      class:hidden={showCC}>
      Cc
    </div>
  </div>
</div>

{#if showCC}
  <div class="w-full flex border-gray-200 border-t">
    <div class="w-16 p-2 px-4 text-right text-gray-600 font-semibold">Cc</div>
    <div class="flex-1">
      <AddressSelect
        placeholder="Recipients who should get a copy"
        bind:selectedValue={ccs}>
      </AddressSelect>
    </div>
  </div>
{/if}

{#if showBCC}
  <div class="w-full flex border-gray-200 border-t">
    <div class="w-16 p-2 px-4 text-right text-gray-600 font-semibold">Bcc</div>
    <div class="flex-1">
      <AddressSelect
        placeholder="Recipients who should get a hidden copy"
        bind:selectedValue={bccs}>
      </AddressSelect>
    </div>
  </div>
{/if}

<div class="border-t border-gray-200 pt-5 px-2 flex items-center">
  <button class="bg-gray-800 hover:bg-gray-700 text-white py-2 px-8 rounded"
          on:click={sendMessage}>
    Send
  </button>
</div>
