<script>
  import { createEventDispatcher } from 'svelte'

  const dispatch = createEventDispatcher()

  // Props
  export let id
  export let subject
  export let from
  export let cc
  export let contentURL

  function name(address) {
    return address.split('@')[0]
  }
</script>

<div class="border-b border-gray-200 p-4">
  <div class="text-lg">{subject}</div>
  <div class="text-sm">
      <div class="inline text-gray-800">from:</div>
      <div class="inline text-gray-600">
        {#each from as sender}
          {sender.name || name(sender.address)}
          ({sender.address})
        {/each}
      </div>
  </div>
  <div class="text-sm">
      <div class="inline text-gray-800">cc:</div>
      <div class="inline text-gray-600">
      {#each cc as entity}
        {entity.name || name(entity.address)}
        ({entity.address})
      {/each}
      </div>
  </div>
</div>

<div class="">
  <iframe
    title="mail"
    class="min-w-full block overflow-hidden"
    style="width: 1px;"
    src={contentURL}
    sandbox="allow-popups allow-scripts allow-same-origin"
    scrolling="no">
  </iframe>
</div>