<script>
  import { createEventDispatcher } from 'svelte'
  import moment from 'moment'

  // Props
  export let id
  export let subject
  export let read
  export let from
  export let arrived_at
  export let tags

  const dispatch = createEventDispatcher()
  const unreadColor = '#EC5447'
  const readColor = 'rgba(0, 0, 0, 0.10)'

  $: bgColor = read ? readColor : unreadColor

  function dispatchOpen() {
    dispatch('open', { id });
  }
</script>

<div
  class="flex py-2 mb-2 hover:bg-gray-200 rounded flex-col cursor-pointer"
  on:click={dispatchOpen}>
  <div class="px-4">
    <div
      class="font-semibold truncate"
      class:text-black={read}
      class:o-text-red={!read}>
      {#each from as sender}
        {sender.name || sender.address}
      {/each}
    </div>
  </div>

  <div class="flex flex-row px-4">
    <div class="w-9/12">
      <div class="truncate">
        {subject}
      </div>
    </div>

    <div class="w-2/12 text-right">
      <div class="text-sm">
        {#each tags as tag}
          <div
            class="inline-block px-3 rounded mr-2 lowercase border
            bg-gray-200 text-gray-600 border-gray-400">
            {tag.name}
          </div>
        {/each}
      </div>
    </div>

    <div class="w-1/12 text-right">
      <div class="text-sm">
        {moment(arrived_at).format('HH:MM')}
      </div>
    </div>
  </div>
</div>