
<script>
  import { isEqual } from 'lodash'
  import { activeQuickSearch, quickSearchItems, searchStack } from './store'

  $: selectActiveQuickSearch($searchStack)

  let lastSearch = null

  function fontColorClass(activeItemID, item) {
    return (activeItemID == item.id) ? 'o-text-red' : 'text-gray-800'
  }

  function onClick(item) {
    activeQuickSearch.set(item.id)
    searchStack.set(item.stack)
    lastSearch = null
  }

  function selectActiveQuickSearch(searchStack) {
    const item = $quickSearchItems.find(item => isEqual(item.stack, searchStack))
    if (item) {
      activeQuickSearch.set(item.id)
      lastSearch = null
    } else {
      activeQuickSearch.set(null)
      lastSearch = searchStack
    }
  }
</script>

<ul class="flex list-reset text-base px-5">
  {#each $quickSearchItems as item}
    <li>
      <a
        href
        class="no-underline cursor-pointer hover:o-text-red md:pr-8 pr-3
        py-2 block {fontColorClass($activeQuickSearch, item)}"
        on:click|preventDefault={() => onClick(item)}>
      {item.name}
      </a>
    </li>
  {/each}
  {#if lastSearch}
    <li>
      <a
        href
        class="no-underline cursor-pointer hover:o-text-red md:pr-8 pr-3
        py-2 block o-text-red"
        on:click|preventDefault={() => {}}>
        Search Results
      </a>
    </li>
  {/if}
</ul>