<script>
  import { searchStack, possibleSuggestions } from './store'

  let query = null
  let showSuggestion = false
  let suggestions = []
  let selectedSuggestionIndex = 0

  function onFocus(event) {
    showSuggestion = true
  }

  function reset() {
    showSuggestion = false
    selectedSuggestionIndex = 0
  }

  function selectSuggestion(index) {
    query = null
    searchStack.set([...$searchStack, suggestions[index]])
    document.querySelector('input[name="query"]').blur()
    reset()
  }

  function onKeydown(event) {
    if (event.keyCode == 38) { // up key
      if (selectedSuggestionIndex > 0)
        selectedSuggestionIndex += -1
    }

    if (event.keyCode == 40) { // down key
      if (selectedSuggestionIndex < suggestions.length - 1)
        selectedSuggestionIndex += 1
    }

    if (event.keyCode == 13) { // enter key
      query = null
      searchStack.set([...$searchStack, suggestions[selectedSuggestionIndex]])
      event.target.blur()
      reset()
    }

    if (event.keyCode == 8) { // backspace key
      if ((query == null || query == '') && $searchStack.length > 0) {
        query = $searchStack[$searchStack.length - 1].option
        searchStack.set([ ...$searchStack.slice(0, -1) ])
        event.preventDefault()
      }
    }
  }

  function search(query) {
    suggestions = $possibleSuggestions.filter(suggestion => {
      return suggestion.option.includes(query)
    })
  }

  function resetSelectIndex(_suggestion) {
    selectedSuggestionIndex = 0
  }

  document.body.addEventListener('click', () => {
    reset()
  })

  $: search(query)
  $: resetSelectIndex(suggestions)
</script>
<div class="relative w-full pt-1">
  <div
    class="w-full relative p-2 rounded absolute z-30 bg-white"
    class:border={showSuggestion}
    class:border-t={!showSuggestion}
    class:border-l={!showSuggestion}
    class:border-white={!showSuggestion}
    class:o-shadow={showSuggestion}>
    <div class="flex">
      {#each $searchStack as selectedItem}
        <div
          class="border rounded py-2 px-3 text-gray-900 bg-white text-center
          mr-1 border-gray-300 cursor-pointer truncate">
          <span class="text-gray-400 pr-1 text-sm">{selectedItem.category}</span>
          <span>{selectedItem.option}</span>
        </div>
      {/each}

      <input
        name="query"
        placeholder="Type to search"
        class="appearance-none outline-none border rounded py-2 px-3
        flex-1 text-gray-900 leading-tight bg-gray-200"
        bind:value={query}
        on:focus={onFocus}
        on:keydown={onKeydown}
        on:click={(e) => e.stopPropagation()}
      />
    </div>

    {#if showSuggestion}
      <div class="w-full px-1 pt-3 pb-1">
        {#each suggestions as suggestion, index}
          <div
            class="p-2 mb-1 flex rounded cursor-pointer"
            class:bg-gray-100={index == selectedSuggestionIndex}
            on:click={() => selectSuggestion(index)}>
            <div class="w-1/12 text-gray-600">{suggestion.category}</div>
            <div class="w-11/12 font-bold">{suggestion.option}</div>
          </div>
        {:else}
          <div class="text-center w-full p-3 italic text-gray-600">
            Type what you would like to find
          </div>
        {/each}
      </div>
    {/if}
  </div>
</div>