<script>
  import { slide } from 'svelte/transition'
  import { isEqual } from 'lodash'

  import rpc from '../rpc'
  import { url, menuItems, scrollPosition } from '../store'

  let showMenu = false

  function handleSignOut() {
    rpc.signOut().then(() => {
      const signOutUrl = `${window.location.protocol}//${window.location.host}`
      window.location.replace(signOutUrl)
    })
  }

  function handleMenuItemClick(item) {
    scrollPosition.set(0)
    window.scrollTo(0, 0)
    url.set('/' + item.id)
  }

  function handleOpenPreferences() {
    showMenu = false
    url.set('/settings')
  }
</script>

<div class="h-screen text-gray-900 fixed w-64 top-0 border-r">
  <!-- Logo -->
  <div>
    <div
      class="p-3 pb-4 text-lg no-outline flex items-center cursor-pointer hover:o-bg-gray-2"
      class:border-r={showMenu}
      class:o-bg-gray-2={showMenu}
      on:click|preventDefault={() => showMenu = !showMenu}>
      <span>Outpostr</span>
      <span class="pl-4 text-gray-700 fill-current">
        {#if showMenu}
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
            <path d="M0 8c0 4.418 3.582 8 8 8s8-3.582 8-8-3.582-8-8-8-8 3.582-8 8zM14.5 8c0 3.59-2.91 6.5-6.5 6.5s-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5z"></path>
            <path d="M11.043 10.457l1.414-1.414-4.457-4.457-4.457 4.457 1.414 1.414 3.043-3.043z"></path>
          </svg>
        {:else}
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
            <path d="M16 8c0-4.418-3.582-8-8-8s-8 3.582-8 8 3.582 8 8 8 8-3.582 8-8zM1.5 8c0-3.59 2.91-6.5 6.5-6.5s6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5-6.5-2.91-6.5-6.5z"></path>
            <path d="M4.957 5.543l-1.414 1.414 4.457 4.457 4.457-4.457-1.414-1.414-3.043 3.043z"></path>
          </svg>
        {/if}
      </span>
    </div>

    {#if showMenu}
      <div
        class="py-4 w-64 border-b border-r o-bg-gray-2"
        transition:slide={{duration: 100}}>

        <div
          class="pl-5 py-1 mb-2 cursor-pointer hover:o-text-red o-smooth"
          on:click={handleOpenPreferences}>
          Preferences
        </div>

        <div
          class="pl-5 py-2 cursor-pointer hover:o-text-red o-smooth"
          on:click={handleSignOut}>
          Sign Out
        </div>

      </div>
    {/if}
  </div>

  <div class="py-4 pb-5 border-b">
    <div>
      <div
        class="px-4 pb-1 cursor-pointer flex items-center">
        <div class="hidden">
          <div>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="14" viewBox="0 0 16 16">
              <path d="M15.504 13.616l-3.79-3.223c-0.392-0.353-0.811-0.514-1.149-0.499 0.895-1.048 1.435-2.407 1.435-3.893 0-3.314-2.686-6-6-6s-6 2.686-6 6 2.686 6 6 6c1.486 0 2.845-0.54 3.893-1.435-0.016 0.338 0.146 0.757 0.499 1.149l3.223 3.79c0.552 0.613 1.453 0.665 2.003 0.115s0.498-1.452-0.115-2.003zM6 10c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"></path>
            </svg>
          </div>
          <div class="pl-2">Quick Search</div>
        </div>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="py-4">
    {#each $menuItems as item}
      <div
        class="px-4 pb-1 cursor-pointer flex"
        on:click={() => handleMenuItemClick(item)}>
        <div class="flex-1">{item.name}</div>
        <div class="w-8 text-right">
          {#if item.unread}
            <span class="text-red-600">{item.unread}</span>
          {/if}
        </div>
        <div class="w-8 text-right">
          {#if item.total}
            <span class="text-gray-500">{item.total}</span>
          {/if}
        </div>
      </div>
    {/each}
  </div>

  <div class="fixed bottom-0 w-64">
    <div
      class="text-center py-4 border-t cursor-pointer font-bold hover:o-text-red"
      on:click={() => url.set('/messages/new')}>
      New Mail
    </div>
  </div>
</div>