<div class="container mx-auto">
  <div class="text-center px-4 md:px-0">
    <div class="pt-24">
      <h1 class="font-light text-4xl md:text-6xl mb-4 md:mb-8">
        Mail made for you
      </h1>
      <p class="font-light text-xl md:text-3xl text-gray-600">
        No hustle of setting up your mail server and
        <br class="hidden sm:block md:block"/>
        no sacrifice of privacy and control
      </p>
    </div>
  </div>
</div>

<%= form_with url: wannabe_users_url, method: :post do |f| %>
  <div class="container mx-auto">
    <div class="flex pt-16 flex-col px-4 md:flex-row md:w-1/2 mx-auto md:items-center">
      <div class="mb-4 md:w-2/3">
        <%= f.text_field :email,
           class: 'appearance-none w-full py-3 px-5 text-gray-700 leading-tight
           border rounded outline-none text-lg border-gray-500',
           placeholder: 'Your current email address' %>
      </div>
      <div class="mb-4 md:w-1/3 md:pl-2">
        <button
          type="submit"
          class="w-full py-3 px-5 text-white hover:text-white o-bg-red
          border o-border-red rounded text-lg o-smooth cursor-pointer">
          Upgrade My Mail
        </button>
      </div>
    </div>
  </div>
<% end %>

<div class="container mx-auto my-20 md:my-56">
  <div class="flex md:w-4/5 mx-auto flex-col md:flex-row">
    <div class="md:w-1/3 px-8 mb-8 md:mb-0">
      <h2 class="text-2xl mb-3">Your Freedom</h2>

      <p class="text-gray-800 text-lg font-light">
        No more vendor locking. You own every emails and every attachment. You can easily
        export and take all your data with you.
      </p>
    </div>
    <div class="md:w-1/3 px-8 mb-8 md:mb-0">
      <h2 class="text-2xl mb-3">Your Rules</h2>

      <p class="text-gray-800 text-lg font-light">
        You decided what is spam and we learn from you. We don't put you into a bucket with
        everyone.
      </p>
    </div>
    <div class="md:w-1/3 px-8 mb-8 md:mb-0">
      <h2 class="text-2xl mb-3">Your Data</h2>

      <p class="text-gray-800 text-lg font-light">
        You choose where to store your messages. Currently we offer locations in EU & US.
      </p>
    </div>
  </div>
</div>

<div class="my-20">
  <div class="container mx-auto">
    <div class="md:w-4/5 mx-auto justify-center px-4 sm:px-0 md:px-0">
      <div class="mb-8 md:w-2/5 md:pl-10">
        <h2 class="text-2xl mb-3">Email content is the king</h2>

        <p class="text-gray-800 text-lg font-light">
          Email client was designed to be an email first, not an advertisment first.
          Nothing stands between you and email content.
        </p>
      </div>
      <div class="md:w-full">
        <div
          class="p-1 pt-2 sm:pt-4 md:pt-8 bg-white rounded border shadow-xl o-smooth">
          <img
            src="<%= asset_path('shot_3.png') %>"
            class="border" />
        </div>
      </div>
    </div>
  </div>
</div>
