<div class="container mx-auto">
  <div class="text-center px-4 md:px-0">
    <div class="pt-16">
      <h1 class="text-4xl md:text-3xl mb-4 md:mb-2">
        Pricing
      </h1>
      <p class="font-light text-xl md:text-xl text-gray-600">
        Things should be simple so should be the pricing
      </p>
    </div>
  </div>
</div>

<div class="container mx-auto my-32">
  <div class="flex flex-col md:flex-row px-4 md:px-0">
    <div class="w-full md:w-1/4 py-10 border mb-10">
      <!-- Title -->
      <div class="text-center">
        <h2 class="text-2xl mb-1">Free</h2>
        <p class="text-xl font-light">All you need to get started</p>
      </div>

      <!-- Price -->
      <div class="text-center py-4">
        <h3 class="text-4xl">$0</h3>
        <p>per address / month</p>
      </div>

      <!-- List of features -->
      <div class="pt-8 px-8">
        <ul>
          <li class="py-1 px-2 border-b">6K messages total</li>
          <li class="py-1 px-2">Standart Support</li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-1/4 py-10 o-bg-red text-white mb-10">
      <!-- Title -->
      <div class="text-center">
        <h2 class="text-2xl mb-1">Basic</h2>
        <p class="text-xl font-light">Growing business</p>
      </div>

      <!-- Price -->
      <div class="text-center py-4">
        <h3 class="text-4xl">$4</h3>
        <p>per address / month</p>
      </div>

      <!-- List of features -->
      <div class="pt-8 px-8">
        <ul>
          <li class="py-1 px-2 border-b border-red-300">6K messages per address</li>
          <li class="py-1 px-2 border-b border-red-300">SMTP Relay</li>
          <li class="py-1 px-2">Priority Support</li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-1/4 py-10 border mb-10">
      <!-- Title -->
      <div class="text-center">
        <h2 class="text-2xl mb-1">Advanced</h2>
        <p class="text-xl font-light">Scaling business</p>
      </div>

      <!-- Price -->
      <div class="text-center py-4">
        <h3 class="text-4xl">$9</h3>
        <p>per address / month</p>
      </div>

      <!-- List of features -->
      <div class="pt-8 px-8">
        <ul>
          <li class="py-1 px-2 border-b">12K messages per address</li>
          <li class="py-1 px-2 border-b">SMTP Relay</li>
          <li class="py-1 px-2">Dedicated Priority Support</li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-1/4 py-10 mb-10 border md:border-0">
      <!-- Title -->
      <div class="text-center">
        <h2 class="text-2xl mb-1">Business</h2>
        <p class="text-xl font-light">Tailored for your needs</p>
      </div>

      <!-- Price -->
      <div class="text-center py-4">
        <h3 class="text-4xl">&nbsp;</h3>
        <p>&nbsp;</p>
      </div>

      <div class="text-center pt-8">
        <%= link_to 'Tell Us Your Story', page_path('support'),
          class: 'o-text-red o-border-red border rounded px-8 py-2
          hover:o-bg-red o-smooth hover:text-white' %>
      </div>
    </div>
  </div>
</div>