<div class="container mx-auto">
  <div class="text-center px-4 md:px-0">
    <div class="pt-16">
      <h1 class="text-4xl md:text-3xl mb-4 md:mb-2">
        Support
      </h1>
      <p class="font-light text-xl md:text-xl text-gray-600">
        We are always happy to help and answer your questions
      </p>
    </div>
  </div>
</div>

<div class="container mx-auto my-32">
  <div class="w-2/4 mx-auto text-center">
    <p class="text-lg">Write us an email to:</p>
    <p class="py-4 text-2xl">
      <a href="mailto:hello@outpostr.com">hello@outpostr.com</a>
    </p>
  </div>
</div>