<div style="background-color: #E06F3B">
  <div class="container mx-auto text-white">
    <div class="text-center px-4 md:px-0">
      <div class="py-16">
        <h1 class="text-4xl md:text-3xl mb-4 md:mb-2">
          Free Email for Your Company
        </h1>
        <p class="font-light text-xl md:text-xl">
          Only for Startup School Companies
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto">
  <div class="px-4 md:px-0 md:w-2/4 mx-auto">
    <div class="py-16">
      <h2 class="text-3xl md:text-2xl mb-4 md:mb-2">
        What is it?
      </h1>
      <p class="text-lg mb-8">
        Outpostr provides free email service for your startup. In just a few steps
        you will go from having just an awesome domain name to having an awesome
        private email address.
      </p>

      <h2 class="text-3xl md:text-2xl mb-4 md:mb-2">
        Why do I need it?
      </h1>
      <p class="text-lg mb-8">
        Talking to your customers is one of the most important things startup should do.
        Mail is a first and primary communication channel for many companies and individuals.
        Email with your company's domain name adds credibility which is a key
        factor when you start.
      </p>

      <h2 class="text-3xl md:text-2xl mb-4 md:mb-2">
        How to get my private email address?
      </h1>
      <p class="text-lg mb-2">
        It's very simple. First, let's go through the checklist to see if you qualify.
      </p>
      <ul class="text-lg mb-2 pl-4">
        <li>1. You have a private domain</li>
        <li>2. You need an email that looks like: [name]@[my-domain.com]</li>
        <li>3. You have 30 minutes to join me on a call to go through an onboarding</li>
      </ul>
      <p class="text-lg mb-2">
        If you can tick all 3 points, fill in the form below and I will reach out shortly.
      </p>
    </div>
  </div>
</div>

<div class="bg-gray-100">
  <%= form_with url: wannabe_users_url, method: :post do |f| %>
    <div class="container mx-auto py-16">
      <div class="md:w-2/4 mx-auto">
        <div class="mb-8 text-center">
          <h2 class="text-2xl">Application Form</h2>
        </div>
        <div class="mb-8 px-4">
          <div class="mb-2">
            <%= f.label :name, class: 'text-xl' %>
          </div>
          <%= f.text_field :name,
            class: 'appearance-none w-full py-3 px-5 text-gray-700 leading-tight
            border rounded outline-none text-lg border-gray-500',
            placeholder: 'How would you like me to call you?' %>
        </div>

        <div class="mb-8 px-4">
          <div class="mb-2">
            <%= f.label :email, class: 'text-xl' %>
          </div>
          <%= f.text_field :email,
            class: 'appearance-none w-full py-3 px-5 text-gray-700 leading-tight
            border rounded outline-none text-lg border-gray-500',
            placeholder: 'Your current email address' %>
        </div>

        <div class="mb-8 px-4">
          <div class="mb-2">
            <%= f.label :company_name, class: 'text-xl' %>
          </div>
          <%= f.text_field :company_name,
            class: 'appearance-none w-full py-3 px-5 text-gray-700 leading-tight
            border rounded outline-none text-lg border-gray-500',
            placeholder: 'Monster Inc' %>
        </div>

        <div class="mb-8 px-4">
          <div class="mb-2">
            <%= f.label :domain_name, class: 'text-xl' %>
          </div>
          <%= f.text_field :domain_name,
            class: 'appearance-none w-full py-3 px-5 text-gray-700 leading-tight
            border rounded outline-none text-lg border-gray-500',
            placeholder: 'https://monster-inc.com' %>
        </div>

        <div class="mb-8 px-4">
          <div class="mb-2">
            <%= f.label :domain_hosting, class: 'text-xl' %>
          </div>
          <%= f.text_field :domain_hosting,
            class: 'appearance-none w-full py-3 px-5 text-gray-700 leading-tight
            border rounded outline-none text-lg border-gray-500 mb-1',
            placeholder: 'Ex: Cloudfront, AWS, DigitalOcean' %>
          <p class="text-gray-600">
            We use this information to make on-boarding process smooth as silk.
          </p>
        </div>

        <div class="md:w-1/2 mx-auto py-8 px-4">
          <button
            type="submit"
            class="w-full py-3 px-5 text-white hover:text-white o-bg-red
            border o-border-red rounded text-lg o-smooth cursor-pointer">
            I want my private email
          </button>
        </div>
      </div>
    </div>
  <% end %>
</div>