<div class="container mx-auto mb-32">
  <div class="text-center px-4 md:px-0">
    <div class="pt-24">
      <h1 class="font-light text-4xl md:text-6xl mb-4 md:mb-8">
        Thank you
      </h1>
      <p class="font-light text-xl md:text-3xl text-gray-600">
        We will write you back shortly.
      </p>
    </div>
  </div>
</div>