@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Source Sans Pro', sans-serif;
}

.o-smooth {
  transition: background-color .3s ease, color .3s ease, box-shadow .3s ease;
}

.o-bg-gray {
  background-color: #F5F6F7;
}

.o-bg-gray-2 {
  background-color: #F1F2F3;
}

.hover\:o-bg-gray-2:hover {
  background-color: #F0F1F2;
}

.o-bg-gray-3 {
  background-color: #e1e2e3;
}

.hover\:o-bg-gray-3:hover {
  background-color: #e1e2e3;
}

.o-shadow {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.o-shadow-lg {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.o-bg-red {
  background-color: #EC5447;
}

.hover\:o-bg-red:hover {
  background-color: #EC5447;
}

.o-text-red {
  color: #EC5447;
}

.hover\:o-text-red:hover {
  color: #EC5447;
}

.o-border-red {
  border-color: #EC5447;
}


/* Quill editor */

.ql-editor {
  padding: 0;
}

.ql-editor.ql-blank::before {
  left: 0.5rem;
  right: 0.5rem;
}

.ql-container {
  font-size: inherit;
  font-family: inherit;
}