<script>
  export let source
  let video
</script>

<div class="container mx-auto py-12 md:py-32">
  <div class="flex flex-col items-center">
    <div class="w-full md:w-2/4 md:p-8">
      <div class="p-4 mb-8">
        <h3 class="font-bold text-lg mb-1">Human Pagination</h3>
        <p class="mb-1">Speak in days not page numbers</p>
      </div>
    </div>
    <div class="w-full md:w-2/4">
      <video bind:this={video} class="w-full shadow rounded">
        <source src={source} type="video/mp4">
      </video>
    </div>
  </div>
</div>

<!-- <div
  class="container mx-auto pt-32 pb-32">
  <div class="flex justify-center">
    <div class="w-3/4 flex flex-col">
      <div class="w-3/4">
        <video
          bind:this={stepZeroVideo}
          class="shadow-xl border rounded"
          class:hidden={step != 0}>
          <source src={paginationVideoSource} type="video/mp4">
        </video>

        <video
          bind:this={stepOneVideo}
          class="shadow-xl border rounded"
          class:hidden={step != 1}>
          <source src={openEmailVideoSource} type="video/mp4">
        </video>
      </div>
      <div class="p-8">
        <div
          class="p-4 o-bg-red text-white mb-8 cursor-pointer"
          class:o-bg-red={step == 0}
          class:text-white={step == 0}
          on:click={() => step = 0}>
          <h3 class="font-bold text-lg mb-1">Human Pagination</h3>
          <p class="mb-1">Speak in days not page numbers</p>
          <p class="text-sm">(Play)</p>
        </div>

        <div
          class="p-4 mb-8 cursor-pointer"
          class:o-bg-red={step == 1}
          class:text-white={step == 1}
          on:click={handleEmailContentClick}>
          <h3 class="font-bold text-lg mb-1">Email Content First</h3>
          <p class="mb-1">No interface noise when reading email</p>
          <p class="text-sm">(Play)</p>
        </div>
      </div>
    </div>
  </div>
</div> -->