<%= link_to app_message_path(message),
  class: 'text-grey-darkest no-underline',
  'data-controller': 'message-item',
  'data-action': 'click->message-item#click' do %>
  <% bg_color = message.read? ? 'bg-grey-lightest' : 'bg-white' %>

  <div class="py-3 pr-5 mb-2 rounded bg-white o-shadow">
    <div class="flex">
      <div class="w-1/12 flex items-center justify-center">
        <% bg_color = message.read? ? 'rgba(0, 0, 0, 0.10)' : '#EF5753' %>
        <div
          class="w-3 h-3 rounded-full"
          style="background-color: <%= bg_color %>"
          data-target="message-item.dot"
        ></div>
      </div>

      <div class="w-11/12">
        <div class="flex items-center">
          <div class="w-1/2 md:w-3/4 font-semibold">
            <% message.parsed.senders.each do |sender| %>
              <%= sender.display_name || sender.address %>
            <% end %>
          </div>
          <div class="w-1/2 md:w-1/4 text-gray-600 text-sm text-right font-light">
            <%= time_ago_in_words(message.created_at) %> ago
          </div>
        </div>
        <div class="flex items-center pb-3">
          <div class="w-full text-gray-800">
            <div class="truncate w-11/12">
              <%= message.parsed.subject %>
            </div>
          </div>
        </div>
        <div class="flex text-right text-sm">
          <% message.tags.each do |tag| %>
            <div class="inline-block px-3 rounded" style="background-color: <%= tag.color %>">
              <%= tag.name %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
