<div class="pt-4 pl-10">
  <div class="rounded p-4 bg-yellow-100 text-sm text-grey-darkest o-shadow" data-controller="notification">
    <h4 class="pb-3">Did you miss an important email?</h4>

    <p class="pb-2 ">
      Notification is the best way to make sure you won't miss that
      important email.
    </p>

    <p class="pb-6">
      You can always disable it in your settings in case it's too noisy.
    </p>

    <a
      href="#"
      class="block py-2 px-4 bg-yellow-500 rounded text-black no-underline w-full
             text-center fon"
      data-action="notification#turnOn"
    >
      Turn On Notifications
    </a>
  </div>
</div>
