<li
  class="p-2"
  data-controller="tag"
  data-tag-name="<%= tag.name %>"
>
  <div class="flex items-center h-5 cursor-pointer" data-action="click->tag#select">
    <div class="pr-2">
      <div class="w-5 h-5 rounded-full" style="background-color: <%= tag.color %>"></div>
    </div>
    <div class="px-2 py-1 rounded"
          style="background-color: <%= @tag_names.include?(tag.name) ? tag.color : 'none' %>">
      <%= tag.name %>
    </div>
  </div>
</li>