<ul class="flex list-reset text-base px-5">
  <li>
    <a
      href=""
      data-controller="time-frame"
      data-action="click->time-frame#select"
      data-time-frame-name="today"
      class="no-underline cursor-pointer hover:text-red-600 md:pr-8 pr-3 py-2 block text-grey-darker <%= (params[:when] == 'today') ? 'text-red-600' : 'text-grey-darker' %>">
      <% if $rollout.active?(:unread_mark, Current.user) %>
        <% if @unread_count[:today] != 0 %>
          <span class="text-sm bg-red-400 text-white inline-block w-2 h-2 text-center rounded-full">
          </span>
        <% else %>
          <span class="text-sm inline-block w-2 h-2 rounded-full"></span>
        <% end %>
      <% end %>
      Today
    </a>
  </li>
  <li>
    <a
      href=""
      data-controller="time-frame"
      data-action="click->time-frame#select"
      data-time-frame-name="yesterday"
      class="no-underline cursor-pointer hover:text-red-600 md:pr-8 pr-3 py-2 block text-grey-darker <%= (params[:when] == 'yesterday') ? 'text-red-600' : 'text-grey-darker' %>">
      <% if $rollout.active?(:unread_mark, Current.user) %>
        <% if @unread_count[:yesterday] != 0 %>
          <span class="text-sm bg-red-400 text-white inline-block w-2 h-2 text-center rounded-full">
          </span>
        <% else %>
          <span class="text-sm inline-block w-2 h-2 rounded-full"></span>
        <% end %>
      <% end %>
      Yesterday
    </a>
  </li>
  <li>
    <a
      href=""
      data-controller="time-frame"
      data-action="click->time-frame#select"
      data-time-frame-name="this_week"
      class="no-underline cursor-pointer hover:text-red-600 md:pr-8 pr-3 py-2 block text-grey-darker <%= (params[:when] == 'this_week') ? 'text-red-600' : 'text-grey-darker' %>">
      <% if $rollout.active?(:unread_mark, Current.user) %>
        <span class="text-sm inline-block w-2 h-2 rounded-full"></span>
      <% end %>
      This Week
    </a>
  </li>
  <li>
    <a
      href=""
      data-controller="time-frame"
      data-action="click->time-frame#select"
      data-time-frame-name="last_week"
      class="no-underline cursor-pointer hover:text-red-600 md:pr-10 pr-3 py-2 block text-grey-darker <%= (params[:when] == 'last_week') ? 'text-red-600' : 'text-grey-darker' %>">
      <% if $rollout.active?(:unread_mark, Current.user) %>
        <span class="text-sm inline-block w-2 h-2 rounded-full"></span>
      <% end %>
      Last Week
    </a>
  </li>
</ul>