<div class="min-h-screen" style="background-color: #FCFBFC">
  <%= render 'app/shared/header' %>

  <div class="container mx-auto flex pt-2 md:pt-6 mb-2 md:mb-4">
    <div class="md:w-1/12"></div>
    <div class="w-full md:w-7/12"><%= render 'time_frame' %></div>
  </div>

  <div class="container mx-auto flex justify-center pb-6">
    <div class="md:w-1/12"></div>
    <div class="w-full md:w-7/12">
      <% @messages.each do |message| %>
        <% cache message do %>
          <%= render 'message', message: message %>
        <% end%>
      <% end %>
    </div>
    <div class="hidden md:block w-4/12 pt-12">
      <% if $rollout.active?(:web_notification, Current.user) %>
        <% unless Current.user.web_notification_enabled? %>
          <%= render "notification_suggestion" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
