<div class="min-h-screen" style="background-color: #FCFBFC">
  <%= render 'app/shared/header' %>

  <% if @reply_to_message.present? %>
    <div class="container mx-auto justify-center flex py-6">
      <div class="w-full md:w-2/3 bg-white p-5 rounded o-shadow">
        <iframe
          class="w-full"
          src="<%= app_message_content_url(@reply_to_message, open_token: @open_token) %>">
        </iframe>
      </div>
    </div>
  <% end %>

  <div class="container mx-auto justify-center flex py-6" data-controller="editor">
    <div class="md:w-1/12"></div>
    <div class="w-full md:w-8/12 bg-white py-5 px-8 rounded o-shadow">
      <%= form_with model: @message, url: app_messages_path do |form| %>
        <%= form.hidden_field :in_reply_to, value: @reply_to_message&.parsed&.message_id %>

        <div class="py-4 px-2">
          <%= form.text_field :subject,
                              value: @reply_to_message&.parsed&.subject,
                              placeholder: 'Enter subject',
                              class: 'w-full text-2xl',
                              'data-target': 'editor.subject' %>
        </div>

        <div id="editor-container" class="pb-6 px-2">
          <%= form.hidden_field :body, 'data-target': 'editor.content' %>
          <mail-editor></mail-editor>
        </div>

        <div class="border-t border-gray-200 pt-5 px-2 flex items-center">
          <div class="w-3/4">
            <%= form.text_field :to, value: @reply_to_message&.parsed&.from, placeholder: 'Recipients', class: 'w-full' %>
          </div>
          <div class="w-1/4 text-right">
            <button class="bg-gray-800 hover:bg-gray-700 text-white py-2 px-8 rounded">
              Send
            </button>
          </div>
        </div>

      <% end %>
    </div>
    <div class="hidden md:block w-3/12 pt-12"></div>
  </div>
</div>