<div class="min-h-screen" style="background-color: #FCFBFC">
  <%= render 'app/shared/header' %>

  <div class="container mx-auto flex pt-2 md:pt-6 mb-2 md:mb-4">
    <div class="md:w-1/12"></div>
    <div class="w-full md:w-11/12 px-5" data-controller="back-link">
      <%= link_to 'Back to list', app_root_path,
        'data-action' => 'click->back-link#goBack',
        class: 'py-2 inline-block'
      %>
    </div>
  </div>

  <div class="container mx-auto flex justify-center pb-6">
    <div class="md:w-1/12"></div>
    <div class="w-full md:w-8/12 bg-white rounded h-full overflow-hidden o-shadow">
      <div class="p-4 border-b border-gray-200">
        <div class="text-lg"><%= @message.parsed.subject %></div>
        <div class="text-sm text-gray-600">
          from
          <% @message.parsed.senders.each do |sender| %>
            <%= sender.display_name || sender.address %>
          <% end %>
        </div>
      </div>
      <div class="h-full">
        <iframe
          class="min-w-full block overflow-hidden"
          style="width: 1px;"
          src="<%= app_message_content_url(@message, open_token: @open_token) %>"
          sandbox="allow-top-navigation allow-scripts allow-same-origin"
          scrolling="no">
        </iframe>
        <script>
          window.addEventListener('message', function(event) {
            var params = JSON.parse(event.data);
            if (params.name === 'setHeight') {
              document.querySelector('iframe').style.height = params.value + 'px';
            }
          });
        </script>
      </div>
      <div class="p-4 border-t border-gray-100 text-right">
        <%= link_to 'Reply',
          new_app_message_path(reply_to: @message.id),
          class: 'bg-gray-900 hover:bg-gray-700 text-white py-2 px-8 rounded' %>
      </div>
    </div>
    <div class="hidden md:block w-3/12 pt-12"></div>
  </div>
</div>