{
  "name": "Outpostr",
  "short_name": "Outpostr",
  "description": "Mail designed for modern web",
  "icons": [
    {
      "src": "<%= image_path('web_hi_res_512.png') %>",
      "type": "image/png",
      "sizes": "512x512"
    }
  ],
  "display": "standalone",
  "start_url": "/app?utm_source=pwa"
}
