<script>
  import { onMount } from 'svelte'
  import moment from 'moment'

  import { url, days, scrollPosition } from '../store'
  import rpc from '../rpc'

  import MessageRow from '../components/message_row.svelte'
  import Breadcrumbs from '../components/breadcrumbs.svelte'

  onMount(async () => {
    if ($days[0].messages.length == 0) {
      days.load(0).then(() => {
        // If there is no messages today load them from yesterday
        if ($days[0].messages.length == 0) days.load(1)
      })
    }

    window.scrollTo(0, $scrollPosition)
  })

  function dayName(dayIndex) {
    switch (dayIndex) {
      case 0:
        return 'Today'
      case 1:
        return 'Yesterday'
      case 2:
      case 3:
      case 4:
        // Day of the week
        return moment().subtract(dayIndex, 'days').format('dddd')
      default:
        // Sep 9th
        return moment().subtract(dayIndex, 'days').format('MMM Do')
    }
  }

  const handleOpen = (dayIndex, messageID) => {
    days.markRead(dayIndex, messageID)
    scrollPosition.set(window.scrollY)
    url.set(`/messages/${messageID}`)
  }
</script>

<div class="flex z-10">
  <div class="w-3/5">
    {#each $days as day}
      <div>
        <div class="px-8 py-4 font-bold">{dayName(day.num)}</div>
        {#if day.messages}
          <div class="rounded p-4 bg-white shadow-lg mb-8">
            {#each day.messages as message}
              <MessageRow
                {...message}
                on:open={(e) => handleOpen(day.num, e.detail.id)}>
              </MessageRow>
            {:else}
              <div class="text-center text-gray-700">There is no messages</div>
            {/each}
          </div>
        {:else}
          <div
            class="rounded p-4 bg-white shadow-lg mb-8 text-center cursor-pointer
            hover:o-text-red font-bold"
            on:click={() => days.load(day.num)}>
            Load Messages
          </div>
        {/if}
      </div>
    {/each}
  </div>
  <div class="w-2/5">
    <!-- Sidebar -->
  </div>
</div>
