  <script>
  import { onMount } from 'svelte'

  import { messages, url, context } from '../store'
  import rpc from '../rpc'

  import Message from '../components/message.svelte'
  import Breadcrumbs from '../components/breadcrumbs.svelte'
  import MessageForm from '../components/message_form.svelte'
  import AttachmentList from '../components/attachment_list.svelte'

  let loaded = false
  let message = { subject: '' }

  onMount(async () => {
    rpc.message.get($context.params.id).then((response) => {
      if (response.ok) {
        message = response.result
        loaded = true
      }
    })

    window.scrollTo(0, 0) // Scroll to the top of the page on load
  })

  window.addEventListener('message', function(event) {
    var params = JSON.parse(event.data);
    if (params.name === 'setHeight') {
      document.querySelector('iframe').style.height = params.value + 'px';
    }
  });
</script>

<Breadcrumbs></Breadcrumbs>
<div class="flex z-10">
  <div class="w-3/5 rounded min-h-screen bg-white shadow-lg p-4">
    {#if loaded}
      <Message
        id={message.id}
        subject={message.subject}
        from={message.from}
        cc={message.cc}
        contentURL={message.content_url}>
      </Message>
    {/if}
  </div>
  <div class="w-2/5">
    <div class="p-8 flex border-b">
      <div class="px-2">
        <button
          class="border py-1 px-4 rounded border-gray-500 text-gray-600
          hover:text-gray-800 o-smooth"
          on:click={() => url.set(`/messages/${message.id}/reply`) }>
          Reply
        </button>
      </div>
      <div class="px-2 hidden">
        <button
          class="border py-1 px-4 rounded border-gray-500 text-gray-600
          hover:text-gray-800 o-smooth">
          Share
        </button>
      </div>
    </div>
    <div class="p-8">
      <AttachmentList attachments={message.attachments}></AttachmentList>
    </div>
  </div>
</div>
