<script>
  import { url } from '../store'
  import MessageForm from '../components/message_form.svelte'
  import Breadcrumbs from '../components/breadcrumbs.svelte'
</script>

<Breadcrumbs></Breadcrumbs>
<div class="flex z-10">
  <div class="w-3/5">
    <div class="rounded p-4 bg-white shadow-lg mb-8">
      <MessageForm on:sent={() => url.set('/')}></MessageForm>
    </div>
  </div>
  <div class="w-2/5">
    <!-- Sidebar -->
  </div>
</div>
