<script>
  import { onMount } from 'svelte'
  import rpc from '../rpc'
  import { url, context } from '../store'

  import MessageForm from '../components/message_form.svelte'
  import Message from '../components/message.svelte'
  import Breadcrumbs from '../components/breadcrumbs.svelte'

  // Variables
  let loaded = false
  let message = null

  // Events
  onMount(async () => {
    rpc.message.get($context.params.id).then((response) => {
      if (response.ok) {
        message = response.result
        loaded = true
      }
    })
  })


</script>

<Breadcrumbs></Breadcrumbs>

{#if loaded}
  <div class="flex z-10">
    <div class="w-3/6 rounded min-h-screen bg-white shadow-lg p-4 mr-4">
      <Message
        id={message.id}
        subject={message.subject}
        from={message.from}
        cc={message.cc}
        contentURL={message.content_url}>
      </Message>
    </div>
    <div class="w-3/6 rounded min-h-screen bg-white shadow-lg p-4 ml-4">
      <MessageForm
        replyMessageID={message.id}
        subject={`Re: ${message.subject}`}
        rcpts={message.from}
        ccs={message.cc}
        on:sent={() => url.set('/')}>
      </MessageForm>
    </div>
  </div>
{/if}
