<script>
  import { onMount } from 'svelte'
  import rpc from '../rpc'
  import push from '../../controllers/push'

  import Breadcrumbs from '../components/breadcrumbs.svelte'

  let loaded = false
  let webNotificationEnabled = true

  onMount(async () => {
    let response = await rpc.webNotification.status()
    if (response.ok) {
      webNotificationEnabled = response.result
      loaded = true
    }
  })

  function enable() {
    push.requestWebPush().then(
      (pushSubscription) => {
        rpc.webNotification.enable(pushSubscription).then(() => {
          webNotificationEnabled = true
        })
      },
      (_error) => { /* Do nothing */ }
    )
  }

  function disable() {
    rpc.webNotification.disable().then(() => {
      webNotificationEnabled = false
    })
  }
</script>

<Breadcrumbs></Breadcrumbs>
{#if loaded}
<div class="flex z-10">
  <div class="w-3/5 rounded p-8 bg-white shadow-lg">
    <div class="mb-6">
      <h2 class="text-xl mb-3">Notifications</h2>

      <div class="block text-gray-700 mb-2">
        <span class="pr-5">Web browser notifications</span>
        {#if webNotificationEnabled}
          <button
            class="py-1 px-3 bg-red-600 text-white rounded hover:shadow"
            on:click={disable}>
            Disable
          </button>
        {:else}
          <button
            class="py-1 px-3 bg-green-600 text-white rounded hover:shadow"
            on:click={enable}>
            Enable
          </button>
        {/if}
      </div>
    </div>
  </div>
  <div class="w-2/5">
    <!-- Sidebar -->
  </div>
</div>
{/if}
