<!DOCTYPE html>
<html>
  <head>
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="apple-touch-icon"
      sizes="512x512"
      href="<%= image_path('web_hi_res_512.png') %>"
    >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <title>Outpostr</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.bubble.css">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <script type="text/javascript">
      <%
        key = Base64.urlsafe_decode64(
          Rails.application.credentials.vapid_public_key
        ).bytes
        auth_token = AuthToken.new(@current_user).value
      %>
      window.vapidPublicKey = new Uint8Array(<%= key %>)
      window.authToken = '<%= auth_token %>'
    </script>
    <%= javascript_pack_tag 'application_v2' %>
    <%= stylesheet_pack_tag 'application_v2' %>
  </head>

  <body class="o-bg-gray">
  </body>
</html>
