<!DOCTYPE html>
<html>
  <head>
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="apple-touch-icon"
      sizes="512x512"
      href="<%= image_path('web_hi_res_512.png') %>"
    >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <title>Outpostr</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap" rel="stylesheet">

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <script type="text/javascript">
      <%
        key = Base64.urlsafe_decode64(
          Rails.application.credentials.vapid_public_key
        ).bytes
      %>
      window.vapidPublicKey = new Uint8Array(<%= key %>)
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
