<!DOCTYPE html>
<html>
  <head>
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="apple-touch-icon"
      sizes="512x512"
      href="<%= image_path('web_hi_res_512.png') %>"
    >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <title>Outpostr</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap" rel="stylesheet">

    <%= javascript_pack_tag 'web' %>
    <%= stylesheet_pack_tag 'web' %>
  </head>

  <body>
    <div class="container mx-auto">
      <div class="flex p-4">
        <div class="logo text-xl w-1/2 md:pl-0">
          <%= link_to 'Outpostr', root_url %>
        </div>
        <nav class="w-1/2 text-right">
          <ul class="flex items-center text-gray-700">
            <li class="px-4 text-center">
              <%= link_to 'Support', page_path('support'), class: 'hover:o-text-red
                o-smooth hidden md:inline-block' %>
            </li>
            <li class="pl-4">
              <%= link_to 'Login', signin_path, class: 'block o-text-red o-border-red
                border rounded px-8 py-1 hover:o-bg-red o-smooth hover:text-white' %>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <%= yield %>

    <footer class="border-t border-gray-300">
      <div class="container mx-auto py-10 md:py-20">
        <div class="flex px-4 md:px-0">
          <div class="w-1/2">
            <div class="logo text-xl w-1/2 mb-2">Outpostr</div>
            <div class="py-1">
              <%= link_to 'Pricing', page_path('pricing'), class: 'hover:o-text-red
                o-smooth md:hidden' %>
            </div>
            <div class="py-1">
              <%= link_to 'Support', page_path('support'), class: 'hover:o-text-red
                o-smooth md:hidden' %>
            </div>
          </div>
          <div class="w-1/2 text-right">
            <a
              href="https://twitter.com/weareoutpostr"
              target="_blank"
              class="inline-block rounded-full bg-gray-300 hover:o-bg-red
              text-white fill-current p-2 o-smooth mr-2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -4 24 24" width="24" height="24" preserveAspectRatio="xMinYMin" class="jam jam-twitter"><path d='M20 1.907a8.292 8.292 0 0 1-2.356.637A4.07 4.07 0 0 0 19.448.31a8.349 8.349 0 0 1-2.607.98A4.12 4.12 0 0 0 13.846.015c-2.266 0-4.103 1.81-4.103 4.04 0 .316.036.625.106.92A11.708 11.708 0 0 1 1.393.754a3.964 3.964 0 0 0-.554 2.03c0 1.403.724 2.64 1.824 3.363A4.151 4.151 0 0 1 .805 5.64v.05c0 1.958 1.415 3.591 3.29 3.963a4.216 4.216 0 0 1-1.08.141c-.265 0-.522-.025-.773-.075a4.098 4.098 0 0 0 3.832 2.807 8.312 8.312 0 0 1-5.095 1.727c-.332 0-.658-.02-.979-.056a11.727 11.727 0 0 0 6.289 1.818c7.547 0 11.673-6.157 11.673-11.496l-.014-.523A8.126 8.126 0 0 0 20 1.907z' /></svg>
            </a>
            <a
              href="mailto:hello@outpostr.com"
              class="inline-block rounded-full bg-gray-300 hover:o-bg-red
              text-white fill-current p-2 o-smooth">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -5 24 24" width="24" height="24" preserveAspectRatio="xMinYMin" class="jam jam-inbox"><path d='M2 5.702V12h16V5.702L15.039 2H4.96L2 5.702zM0 5l4-5h12l4 5v7a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5zm13.874 2a4.002 4.002 0 0 1-7.748 0H2V5h16v2h-4.126zm-2.142 0H8.268a2 2 0 0 0 3.464 0z'/></svg>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
